:host {
  display: flex;
  margin-top: 100px;
  padding-bottom: 130px;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 40px;
  flex-direction: column;
  .add {
    color: #27272A;
    font-size: 3rem;
    position: fixed;
    bottom: 100px;
    right: 1rem;
  }
}