<div id="icon1" class="footer-icon active" (click)="select($event, 'icon1')">
  <em class="material-icons-outlined">work</em>
  <span>Catalog</span>
</div>
<div id="icon2" class="footer-icon" (click)="select($event, 'icon2')">
  <em class="material-icons-outlined">receipt_long</em>
  <span>Proposals</span>
</div>
<div id="icon3" class="footer-icon" (click)="select($event, 'icon3')">
  <em class="material-icons-outlined">groups</em>
  <span>People</span>
</div>
<div id="icon4" class="footer-icon" (click)="select($event, 'icon4')">
  <em class="material-icons-outlined">paid</em>
  <span>Payments</span>
</div>
<div id="icon5" class="footer-icon" (click)="select($event, 'icon5')">
  <em class="material-icons-outlined">more_horiz</em>
  <span>More</span>
</div>