<div class="mt-3 rounded-t-2xl bg-white ">
  <div class="flex flex-row p-4">
    <div class="flex flex-col w-[20%] text-center">
      <div class="flex mb-3  text-center justify-center bg-[#F5F5F5]">
        <img [src]="item.img" />
      </div>
      <span class="text-[#DCDDDF] leading-4 text-[0.8rem]">{{item.tax_info}}</span>
    </div>
    <div class="flex flex-col pl-4 w-4/5">
      <span class="text-[17px] font-[600] text-black">{{item.name}}</span>
      <span class="text-[14px] text-[#343437]">{{item.short_info}}</span>
      <div class="flex flex-row mt-4 h-8 text-center ">
        <Button class="text-[12px] sm:text-[13px] mr-2 py-1 text-black font-[600] pl-2 pr-2 rounded-2xl flex items-center justify-center bg-[#F5F5F5]">Qty {{item.count}}<em class="material-icons text-black text-[18px]">keyboard_arrow_down</em></Button>
        <div class="flex flex-col mr-2">
          <span class="text-[12px] sm:text-[13px] pb-1 text-black font-[600] px-2 py-2 rounded-2xl flex items-center justify-center bg-[#F5F5F5]"><em class="material-icons-outlined text-[#FE5203] pr-1 text-[17px]">sell</em>${{item.price}}<em class="material-icons text-black text-[18px]">keyboard_arrow_down</em></span>
          <span class="text-[12px] sm:text-[12px] text-center  justify-center mt-2">{{item.profit}}% Profit</span>
        </div>
        <em class="material-icons text-[18px] text-black font-[600] pl-2 pr-2 py-1 rounded-2xl flex items-center justify-center bg-[#F5F5F5]">more_vert</em>
      </div>
      <!-- <img [src]="item.img" class="w-[30%]"> -->
    </div>
  </div>
  <div *ngIf="item.order" class="h-9 flex text-center mt-4 pt-[8px] pb-[8px] border-t  border-[#E8E9ED] pl-5 text-[12px]">
    <div *ngFor="let order of item.order" class="flex text-center mr-2">
      <span class="text-[#6E9CFB] font-[500] mr-[2px]">{{order}}</span>
      <em class="material-icons text-[#6E9CFB] text-[10px] pt-[4px]">arrow_forward_ios</em>
    </div>
  </div>
</div>