<!-- <p>This accordion uses customized default values.</p>

<div ngbAccordion>
	<div ngbAccordionItem [collapsed]="true">
		<h2 ngbAccordionHeader>
			<button ngbAccordionButton>One</button>
		</h2>
		<div ngbAccordionCollapse>
			<div ngbAccordionBody>
				<ng-template>
					Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon
					officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf
					moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim
					keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur
					butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably
					haven't heard of them accusamus labore sustainable VHS.
				</ng-template>
			</div>
		</div>
	</div>
</div> -->

<app-element [item]="item"></app-element>
<div *ngIf="item.attachments" class="flex flex-row">
	<div class="w-4 rounded-bl-2xl h-auto bg-[#E8E9ED]">
	</div>
	<div ngbAccordion class="w-[100%] ">
		<div ngbAccordionItem [collapsed]="true">
			<h2 ngbAccordionHeader>
				<button ngbAccordionButton class="z-0">
					<img src="/assets/icon.png" class="mr-1 "/>
					{{item.attachments.length}} Attachments Included • ${{total}}
				</button>
			</h2>
			<div ngbAccordionCollapse>
				<div ngbAccordionBody>
					<ng-template >
						<div class="absolute -translate-y-full right-5 z-10 h-[51.19px] flex items-center">
							<span class="text-[0.9rem] text-[#212529] mr-2">Combine</span>
							<label class="switch">
								<input type="checkbox">
								<span class="slider round "></span>
							</label>
						</div>
						<div *ngFor="let element of item.attachments" class="border-t-[1px]">
							<app-element [item]="element"></app-element>
						</div>
					</ng-template>
				</div>
			</div>
		</div>
	</div>
</div>