:host {
  display: flex;
  flex-direction: column;
  .des-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
    .title {
      font-size: 1.7rem;
      display: flex;
      color: black;
      font-weight: 700;
      align-items: end;
    }
    .edit {
      color: #F94F01;
      display: flex;
      align-items: end;
    }
  }
  .des-body {
    background-color: white;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    padding-top: 0.7rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border-radius: 1rem;
    box-shadow: 5px 5px 12px 0px rgba(0, 0, 0, .2);
    .more {
      display: flex;
      align-items: center;
      color: #F94F01;
      em {
        color: #F94F01;
      }
    }
  }
  .add-description {
    color: #F94F01;
  }
}