<div class="des-head">
  <span class="title">Client Description</span>
  <span class="edit">Edit</span>
</div>
<div class="des-body">
  <p>
    Sed ut perspiciatis unde omnis iste nnatus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo invento veritatis et quasi architecto beatae vitae dicta sunt.
  </p>
  <p class="more">Show more <em class="material-icons">keyboard_arrow_down</em></p>
</div>
<p class="add-description"> + Add Installer Description</p>
