
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$test1-primary: mat.define-palette(mat.$indigo-palette);
$test1-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$test1-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$test1-theme: mat.define-light-theme((
  color: (
    primary: $test1-primary,
    accent: $test1-accent,
    warn: $test1-warn,
  ),
  typography: mat.define-typography-config(),
  density: 0
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($test1-theme);

/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Styles */

* {
  font-family: 'Roboto', Arial, sans-serif;
  color: #616161;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.test {
  /* Top Bar */
  .accordion {
    --bs-accordion-border-radius: 0;
    --bs-accordion-btn-icon-width: 0.7rem;
    border-bottom-right-radius: 0.5rem;
  }
  .accordion-item:last-of-type {
    border-bottom-right-radius: 0.5rem;
  }
  .accordion-button:focus {
    box-shadow: 0 0 0 0;
  }
  .accordion-button::after {
    margin-left: 3px;
    font-size: 2rem;
  }
  .accordion-button:not(.collapsed) {
    background-color: inherit;
  }
  .accordion-body {
    padding: 0;
  }
  .accordion-item {
    border: 0;
    border-top: 1px solid #E8E9ED;
    border-bottom-right-radius: 0.5rem;
  }
  .accordion-button:not(.collapsed) {
    color: var(--bs-accordion-btn-color);
  }
  background-color: #F7F7F7;

}
/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
